<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pass1234</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
<body>
<nav class="navbar is-warning">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/pass1234.png') }}" alt="Logo" />
        </a>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            <a href="{{ url_for('main.index') }}" class="navbar-item">
                Home
            </a>
            <!-- Conditionally display certain navigation items only if the user is logged in -->
            {% if current_user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ url_for('vault.index') }}" class="navbar-link">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-regular fa-vault"></i>
                        </span>
                        <span>Vault</span>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a href="{{ url_for('vault.shared_vault') }}" class="navbar-item">Shared Credentials</a>
                    <a href="{{ url_for('vault.create') }}" class="navbar-item">Add New Credential</a>
                </div>
            </div>
            <div class="navbar-item">
                <a class="button" href="{{ url_for('main.logout') }}">
                    <span class="icon">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    <span>Logout</span>
                </a>
            </div>
            <div class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span>{{ current_user.email }}</span>
                </span>
            </div>
            {% else %}
            <div class="navbar-item">
                <a class="button" href="{{ url_for('main.login') }}">
                    <span class="icon">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </span>
                    <span>Login</span>
                </a>
            </div>
            <div class="navbar-item">
                <a class="button is-primary is-soft" href="{{ url_for('main.register') }}">
                    <span class="icon">
                        <i class="fa-solid fa-address-card"></i>
                    </span>
                    <span>Create Account</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<section class="hero is-light is-fullheight">
        <div class="hero-head">
        <div class="hero-body">
            <div class="container">
                <div class="block has-text-centered">
                    <img style="height:160px;width:auto;" src="{{ url_for('static', filename='img/pass1234.png') }}" alt="Logo" />
                </div>
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>