<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pass1234</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}">
  </head>
<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <!-- "My Vault" Dropdown with Sub-Nav Links -->
                            <!-- Conditionally display "Add New Credential" only if the user is logged in -->
                            {% if current_user.is_authenticated %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a href="{{ url_for('vault.index') }}" class="navbar-link">
                                    My Vault
                                </a>
                                <div class="navbar-dropdown">
                                    <a href="{{ url_for('vault.create') }}" class="navbar-item">Add New Credential</a>
                                </div>
                            </div>
                            {% endif %}
                            <a href="{{ url_for('main.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('main.register') }}" class="navbar-item">
                                Register 
                            </a>
                            <!-- Conditionally display "Logout" only if the user is logged in -->
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.logout') }}" class="navbar-item">
                                Logout 
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img style="width:200px;height:auto;" src="{{ url_for('static', filename='img/pass1234.png') }}" alt="Logo" />
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>