{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered">Share Credential</h3>
    <div class="box">
        <form method="POST">
            {{ form.csrf_token }}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Credential Name: <em>"{{ credential.name }}"</em></p>
                </div>
                <div class="message-body">
                    <strong>Be mindful of who you are sharing with!</strong><br>
                   Please select a user below to share this credential with. 
                </div>
            </article>
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <div class="select is-large">
                        {{ form.users() }}
                    </div>
                    <span class="icon is-large is-left">
                        <i class="fas fa-globe"></i>
                    </span>
                </div>
            </div>
            <button class="button is-block is-danger is-large is-fullwidth" value="Share">Share</button>
        </form>
    </div>
</div>
{% endblock %}