{% extends "base.html" %}

{% block content %}
    <div class="box">
    <div class="level">
        <div class="level-left">
            <span class="icon-text has-text-weight-bold is-size-4">
                <span class="icon">
                    <i class="fa-regular fa-users"></i>
                </span>
                <span>Shared Credentials</span>
            </span>
        </div>
    </div>
        <table class="table is-fullwidth is-striped table is-hoverable has-text-left">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
            {% for credential in credentials %}
                <tr>
                    <td>{{ credential.credential.name }}</td>
                    <td>{{ credential.credential.website }}</td>
                    <td>{{ credential.credential.username }}</td>
                    <td>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input is-static" id="cred{{ credential.credential.id }}" type="password" value="{{ credential.ciphertext }}" readonly>
                                <span class="icon is-small is-right" onclick="toggleVisibility('cred{{ credential.credential.id }}', 'eye{{ credential.credential.id }}')">
                                    <i id="eye{{ credential.credential.id }}" class="fas fa-eye is-clickable"></i>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}